.label {
    margin-bottom: 8px;
}

.cta.section {
    padding-top: 80px;
    padding-bottom: 48px;
    background-color: #EFEDEC;

    @media (max-width: 767.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.cta {
    .section-heading {
        margin-bottom: 96px;
    }

    &__content {
        max-width: 770px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
    }
}