.footer {
  background: #03101e;
  color: #fff;
}

// .footer-menu {
//     display: none;
// }

.footer-toggler {
  display: none;
}

.footer-label {
  cursor: pointer;
  margin-bottom: 16px;
  i {
    display: none;
  }
}

.footer-link {
  color: inherit;
  display: block;
}

.footer-title {
  font-size: 0.8em;
}

.footer-menu {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-content {
    max-height: 0;
    overflow: hidden;
    transition: all 400ms;
  }

  .footer-toggler:checked + .footer-content {
    max-height: 500px;
  }

  *:has(> .footer-label + .footer-toggler:checked) .footer-label i {
    transform: rotate(180deg);
    transform-origin: center;
    transition: all 400ms;
  }

  .footer-label {
    i {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
